<main class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="d-flex flex-column main-container gap-4 justify-content-center align-items-center">
        <img src="/images/logo-mobile-negro.svg" class="img-fluid logo-img" />
        <span class="d-flex flex-column gap-2 justify-content-center align-items-center">
            <h3 class="mb-0 text-center">Sign Up to Assetly</h3>
            <p class="mb-0 text-center">Enter required details to get started</p>
        </span>

        <form [formGroup]="signinForm" class="w-100 d-flex flex-column gap-3 justify-content-center">
            <app-input [controlName]="getFormControl('firstName')" [name]="'firstName'" [type]="'text'" [label]="'First Name'"
                [placeholder]="'Enter first name'" />
            <app-input [controlName]="getFormControl('lastName')" [name]="'lastName'" [type]="'text'" [label]="'Last Name'"
                [placeholder]="'Enter last name'" />
            <app-input [controlName]="getFormControl('email')" [name]="'email'" [type]="'email'" [label]="'Email'"
                [placeholder]="'Enter email'" />
            <app-input [controlName]="getFormControl('password')" [name]="'password'" [type]="passwordType"
                [label]="'Password'" [placeholder]="'Enter password'" [hideIcon]="'fa-solid fa-eye-slash'"
                (hidePassword)="changePasswordType($event,'password')" />
            <app-input [controlName]="getFormControl('confirmPassword')" [name]="'confirmPassword'" [type]="confirmPasswordType"
                [label]="'Confirm Password'" [placeholder]="'Re-enter your password'" [hideIcon]="'fa-solid fa-eye-slash'"
                (hidePassword)="changePasswordType($event,'confirmPassword')" />
            <div class="vstack gap-2">
                <app-button [label]="'Sign Up'" [classList]="'btn btn-primary w-100'" [type]="'submit'"
                    [disabled]="!signinForm.valid || submitLoader" (onClick)=" onSubmit()"
                    [showSpinner]="submitLoader" />
                <p class="text-center mb-0">Already have an account? <strong class="sign-up-text" (click)="navigateToSignIn()">Sign in</strong></p>
            </div>
        </form>
    </div>
</main>