<ol class="nav-item mb-0" ngbDropdown display="dynamic" placement="bottom-end">
  <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
    <i class="fa-solid fa-circle-user fs-4"></i>
  </a>
  
  <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
    <li class="dropdown-item  text-danger font-11 cursor-pointer" (click)="logoutUser()"><i
        class="fa fa-power-off font-14 align-middle me-1"></i>
      Logout</li>
  </div>
</ol>